/* Credits */
@import url('https://discordstyles.github.io/RadialStatus/RadialStatus.css'); 
@import url("https://dablulite.github.io/css-snippets/TabsV2HomeIcon/import.css");
@import url("https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css");
@import URL('https://mudaranrhiod.github.io/VencordThemes/solarmoreicons.css');
@import url("https://rinlovesyou.github.io/Couve/snippets/couve-profile-popout.css");
@import url("https://raw.githubusercontent.com/lithwack/Vencord-Repos/refs/heads/main/Collapsed%20Search%20Bar");
@import url('https://davart154.github.io/Themes/Snippets/Simplified%20Panel%20Area/SimplifiedPanelArea.css');
@import url("https://raw.githubusercontent.com/Augenbl1ck/Discord-Styles/refs/heads/main/ABrecolor");
/* Credits */


/* Root ABrecolor */
:root {
    --rec-locked: var(--status-danger-background);
  
    --rec-news-1: rgba(255, 166, 0, 0.811);
    --rec-news-2: rgba(255, 68, 0, 0.811);
  
    --rec-rules: rgba(0, 128, 0, 0.811);
  
    --rec-stage: rgba(102, 51, 153, 0.811);
    --rec-mic: rgba(181, 16, 16, 0.811);
  
    --rec-forum: rgba(51, 144, 153, 0.811);
  
    --rec-help: rgba(255, 255, 0, 1);
    --rec-delete: var(--status-danger-background);
  
    --rec-ping-locked: var(--status-danger-background);
  
    --rec-create-channel-locked: var(--status-danger-background);
  
    --rec-category: rgb(185, 123, 82);
    --rec-category-effect:  rgb(255, 169, 111);
    --rec-roles-category: rgb(255, 169, 111);
  
    --rec-channel-lines: rgb(185, 123, 82);
    --rec-channel-selected: rgba(185, 123, 82, 0.72);
  
    --rec-unread-text-color: rgb(255, 180, 130);
    --rec-unread-circle-color: rgb(185, 123, 82);
  
    --rec-top-boosting: var(--guild-boosting-pink);
    --rec-top-members: rgb(187, 177, 35);
    --rec-search-channels: rgb(38, 166, 106);
    --rec-top-events: rgb(38, 81, 166);
    --rec-top-pin: rgb(167, 85, 51);
    --rec-top-noti-on: rgb(37, 154, 4);
    --rec-top-noti-off: rgb(154, 4, 4);
  
    --rec-dm-nitro: rgb(226, 146, 170);
    --rec-dm-friends: rgb(187, 177, 35);
    --rec-dm-shop-1: rgb(187, 15, 15);
    --rec-dm-shop-2: rgb(203, 193, 116);
  
    --rec-threads: rgba(166, 38, 85, 0.625);
    --rec-threads-line: rgb(111, 24, 56);
    --rec-threads-line-effect: rgb(213, 26, 94);
  
    --rec-message-delay: var(--status-danger-background);
  }

/* Radial Status */
:root {
    --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */
  
    --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */
  
    --rs-avatar-shape: 50%; /* 50% for round - 0% for square */
  
    --rs-online-color: #43b581; /* Colour for online status */
    --rs-idle-color: #faa61a; /* Colour for idle status */
    --rs-dnd-color: #f04747; /* Colour for dnd status */
    --rs-offline-color: #636b75; /* Colour for offline status */
    --rs-streaming-color: #643da7; /* Colour for streaming status */
    --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */
  
    --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  }

/* Squeeze on Discord (Edited) */
[class*="winButton"] {
    position: relative !important;
    background-color: transparent !important;
    margin: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-family: "Segoe UI Symbol", "Arial Unicode MS", sans-serif;
}

[class*="winButtons"] {
    gap: 0;
    display: flex;
    align-items: center;
}

[class*="winButton"]::before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    width: 16px;
    height: 16px;
    line-height: 1;
    transition: all 0.9s ease;
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

[class*="winButtonClose"]:hover::before {
    transform: translate(-50%, -50%) rotate(180deg);
}

[class*="winButtonMinMax"]:nth-child(1):hover::before {
    transform: translate(-50%, -50%) rotate(180deg);
}

[class*="winButtonMinMax"]:nth-child(2):hover::before {
    transform: translate(-50%, -50%) rotate(180deg);
}

/* Bordered Embeds */
:root {
    --wh-border-width: 4px;
    --wh-background-opacity: 10%
  }
  .embedFull__623de {
    overflow: hidden;
    border-left-width: 0px !important;
    padding-left: 4px;
    &::before {
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      position: absolute;
      border: inherit;
      border-left-width: 100vw;
      box-sizing: border-box !important;
      z-index: 1;
      border-radius: 0px 8px 8px 0px;
    }
    &::after {
      content: "";
      position: absolute;
      background: hsl(from var(--background-surface-high) h s l / calc(100% - var(--wh-background-opacity)));
      border-radius: 0px;
      top: var(--wh-border-width);
      left: var(--wh-border-width);
      right: var(--wh-border-width);
      bottom: var(--wh-border-width);
      z-index: 2;
    }
    .gridContainer__623de { z-index: 3 }
  }
  .withAccentColor__60fa3::before { display: none }
  .withAccentColor__60fa3 {
    background: color-mix(
      in oklch,
      hsl(from var(--background-surface-high) h s l / 100%),
      var(--__accent-color) var(--wh-background-opacity)
    );
    border: 4px solid var(--__accent-color)
  }

/* Blade on Discord */
.user-profile-modal-v2 {
  .inner_c0bea0 { padding:0!important; gap:0!important; flex-direction:column!important; container-type:size; }
  .profile__9c3be { width:100%; height:100%; position:absolute; }
  .selected_b3f026 { color:var(--text-secondary)!important; &::after { display:none; } }

  .inner_c0bea0:has(.tabBarItem__37bfc:focus, .top_b3f026:focus, .tabBarPanel__37bfc:focus-within, .tabBarPanel__37bfc:focus) {
    .profile__9c3be { .markup__75297, .section_bf424d { visibility:hidden!important; pointer-events:none!important; } }
    .tabBarPanel__37bfc { display:flex!important; opacity:1; pointer-events:all!important; }
    .top_b3f026::before { color:var(--text-secondary); border-bottom:none!important; }
    .selected_b3f026 { color:var(--selected-tab-item-color)!important; &::after { display:block!important; } }
  }

  .tabBarPanel__37bfc { opacity:0; z-index:999; pointer-events:none!important; }
  .container__37bfc { margin-top:270px; padding:26px; }
  .banner__68edb { height:100%!important; border-radius:0; }
  
  .profileHeader__9c3be {
    height:100px; overflow:hidden;
    .mask__68edb {
      >mask>circle { transform:scale(0.423); }
      >foreignObject { height:80px; }
    }
  }

  .profileButtons__9c3be { position:fixed; right:18px; top:230px!important; }
  .container__63ed3 { position:fixed; top:220px!important; }
  .profileBody__9c3be { margin-top:126px; }
  
  .top_b3f026::before {
    content:"About"; color:var(--text-primary); border-bottom:2px solid var(--text-primary)!important;
    font-size:14px; font-weight:600; line-height:14px; margin-bottom:-1px; padding-bottom:16px;
    position:relative; --tab-item-color:var(--text-primary); margin:0 var(--space-xl) 0 8px;
  }

  .empty_e766f2 { padding:0!important; }
}
 /* Personal Adjustment */
 .visual-refresh .focusLock__49fc1 > .root__9c3be > .outer_c0bea0 > .inner_c0bea0
  > .profile__9c3be > .profileBody__9c3be
  > .section_bf424d.section_be87fd
  > .container__9bfb9.profileAppConnections__9c3be {
    flex-direction: row; 
    flex-wrap: wrap; 
    align-items: flex-start;
    gap: 10px 16px;
}
.visual-refresh .focusLock__49fc1 > .root__9c3be > .outer_c0bea0 > .inner_c0bea0
  > .profile__9c3be > .profileBody__9c3be
  > .section_bf424d.section_be87fd
  > .container__9bfb9.profileAppConnections__9c3be
  > .connection__9bfb9 > .connectionInfo__9bfb9 {
    min-width: 110px;
}
/* Blade on Discord */