/* Credits */
@import url("https://discordstyles.github.io/RadialStatus/RadialStatus.css");
@import url("https://dablulite.github.io/css-snippets/TabsV2HomeIcon/import.css");
@import url(https://nspc911.github.io/themes/vencord/ChatRelatedAlertsAtTop.theme.css);
@import url("https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://raw.githubusercontent.com/lithwack/Vencord-Repos/refs/heads/main/Collapsed%20Search%20Bar");
@import url("https://davart154.github.io/Themes/Snippets/Simplified%20Panel%20Area/SimplifiedPanelArea.css");
@import url("https://raw.githubusercontent.com/moonself/Vencord-Repos/refs/heads/main/Message%20Actions%20Hover");
@import url("https://raw.githubusercontent.com/yiruzu/vencord-snippets/refs/heads/main/snippets/BubbleUsernames/import.css");
@import url("https://raw.githubusercontent.com/Krammeth/css-snippets/refs/heads/main/CompactButtons.css");
/* Credits */

/* Bubble Username */
:root {
    --username-vertical-padding: 0;
    --username-horizontal-padding: 10px;
    --username-radius: 88px;
    --username-plugin-suffix: "| @";
}

/* Radial Status */
:root {
    --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

    --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
    --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
    --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

    --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

    --rs-online-color: #43b581; /* Colour for online status */
    --rs-idle-color: #faa61a; /* Colour for idle status */
    --rs-dnd-color: #f04747; /* Colour for dnd status */
    --rs-offline-color: #636b75; /* Colour for offline status */
    --rs-streaming-color: #643da7; /* Colour for streaming status */
    --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
    --rs-phone-color: var(
        --rs-online-color
    ); /* Colour of the ring and phone icon when a user is on their phone |  */

    --rs-phone-visible: none; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}

/* Squeeze on Discord (Edited) */
[class*="winButton"] {
    position: relative !important;
    background-color: transparent !important;
    margin: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-family: "Segoe UI Symbol", "Arial Unicode MS", sans-serif;
}

[class*="winButtons"] {
    gap: 0;
    display: flex;
    align-items: center;
}

[class*="winButton"]::before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    width: 16px;
    height: 16px;
    line-height: 1;
    transition: all 0.9s ease;
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
[class*="winButtonClose"]:hover::before {
    transform: translate(-50%, -50%) rotate(180deg);
}
[class*="winButtonMinMax"]:nth-child(1):hover::before {
    transform: translate(-50%, -50%) rotate(180deg);
}
[class*="winButtonMinMax"]:nth-child(2):hover::before {
    transform: translate(-50%, -50%) rotate(180deg);
}

/* Bordered Embeds */
:root {
    --wh-border-width: 4px;
    --wh-background-opacity: 10%;
    --wh-default-background: hsl(
        from var(--background-surface-high) h s l / 100%
    );
    --wh-always-show-suppress-embed-button: 0;
}
.embedFull__623de {
    overflow: hidden;
    border-left-width: 0px !important;
    padding-left: 4px;
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
    .embedSuppressButton__623de {
        /* fix for it not showing up */
        opacity: calc(
            1 * var(--wh-always-show-suppress-embed-button)
        ) !important;
        top: var(--wh-border-width);
        right: var(--wh-border-width);
        z-index: 10;
        color: white;
    }
    &::before {
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        position: absolute;
        border: inherit;
        border-left-width: 100vw;
        box-sizing: border-box !important;
        z-index: 1;
        border-radius: 0px 8px 8px 0px;
    }
    &::after {
        content: "";
        position: absolute;
        background: hsl(
            from var(--background-surface-high) h s l /
                calc(100% - var(--wh-background-opacity))
        );
        border-radius: 0px;
        top: var(--wh-border-width);
        left: var(--wh-border-width);
        right: var(--wh-border-width);
        bottom: var(--wh-border-width);
        z-index: 2;
    }
    .gridContainer__623de {
        z-index: 3;
    }
}

/* Fix for components v2 */
.withAccentColor__60fa3::before {
    display: none;
}
.withAccentColor__60fa3 {
    background: color-mix(
        in oklch,
        hsl(from var(--background-surface-high) h s l / 100%),
        var(--__accent-color) var(--wh-background-opacity)
    );
    border: 4px solid var(--__accent-color);
}

/* Spoiler Hover */
:root {
    --spoiler-blur-hover: 8px;
}
[class*="attachmentContainer_"][class*="spoilerContent_"] {
    background-color: unset;
    &[class*="hiddenSpoiler_"] {
        > [class*="spoilerWarning_"] {
            transition: opacity 50ms ease;
        }
        [class*="imageContent_"] {
            filter: none !important;
            [class*="imageWrapper_"] > [class*="clickableWrapper_"] {
                filter: blur(
                    var(--custom-message-attachment-spoiler-blur-radius)
                );
                transition: filter 80ms ease-out;
            }
        }
        &:hover {
            > [class*="spoilerWarning_"] {
                opacity: 0.2;
            }
            [class*="imageWrapper_"] > [class*="clickableWrapper_"] {
                filter: blur(var(--spoiler-blur-hover));
            }
        }
    }
}
