/* Plain Folder Icon Size Pastel */
.expandedFolderIconWrapper__48112::after,
.folderPreview__48112::after {
    content: "";
    background-color: #fff;
    width: 24px;
    height: 24px;
    top: 60px;
    right: 12px;
    position: absolute;
    clip-path: path(
        "M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"
    );
    transition: opacity 0.2s ease;
}
.folderPreview__48112:hover::after {
    opacity: 0;
}
.folderPreview__48112 > .folderPreviewGuildIcon__48112 {
    opacity: 0.5;
    filter: blur(2px);
    transition:
        opacity 0.2s ease,
        filter 0.2s ease !important;
}
.folderPreview__48112:hover > .folderPreviewGuildIcon__48112 {
    opacity: 1;
    filter: blur(0px);
}
.theme-dark .hiddenVisually__27f77[aria-expanded="false"] {
    background-color: #000000;
}
.theme-light .hiddenVisually__27f77[aria-expanded="false"] {
    background-color: #777777;
}

/* Mark As Read */
button.barButtonAlt__0f481 {
    background-color: #fc868600 !important; /* button color */
    color: white !important; /* text color */
}
button.button_a22cb0 {
    background-color: #fc868600 !important; /* button color */
    margin-top: -1px;
}
button.barButtonAlt__0f481:hover {
    background: var(--mc) !important;
}

/* Button Colors */
.wrapper__6e9f8:hover .childWrapper__6e9f8,
.wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8 {
    background: var(--mc) !important;
}

.circleIconButton__5bc7e:hover {
    background: var(--mc) !important;
}

.visual-refresh .tabBar__133bf:hover .addFriend__133bf,
.visual-refresh .tabBar__133bf .addFriend__133bf {
    background: var(--mc) !important;
}

.lookFilled__201d5.colorBrand__201d5 {
    background-color: #fc868600;
}

.item__58105,
.modeUnreadImportant__2ea32 .name__2ea32,
.channelTextArea__74017,
.attachButtonInner__0923f {
    background: var(--mc) !important;
}

.modeUnreadImportant__2ea32 .name__2ea32 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
}

.vc-ranb-button {
    background-color: #2c2c30 !important;
}

.circleIconButton__5bc7e.selected__5bc7e,
.circleIconButton__5bc7e:hover:not(.disabled__5bc7e) {
    background: var(--mc) !important;
}

.container_a3e8db {
    margin-right: 100px;
}

.circleIconButton__5bc7e {
    background-color: #2c2c30;
}

.avatarWrapper__37e49 {
    background-color: #121214;
}

.buttonChildrenWrapper_a22cb0:hover {
    background: var(--mc) !important;
}

.progress__0d0f9,
.container__0d0f9:hover .progress__0d0f9,
.jumpToPresentBar__0f481 > button:hover > .buttonChildrenWrapper_a22cb0 {
    background: var(--mc) !important;
}

.botTagOP__82f07 {
    color: lightgrey !important;
}

.selected__9293f .icon__9293f {
    color: #94959c;
}

.clickable__9293f:hover .icon__9293f,
.vc-toolbox-btn:hover .vc-toolbox-icon,
[class*="iconContainer_"] *:hover,
[class*="iconContainer_"]:hover * {
    color: var(--mc) !important;
}

.childWrapperNoHoverBg__6e9f8 {
    background: #2c2c30;
}

.vc-ranb-button:hover {
    background: var(--mc) !important;
}

.buttons__37e49.buttons__37e49,
.voiceButtonsContainer_e131a9,
.actionButtons_e131a9,
.actions__4cd01,
.icons_e0cf27 {
    color: var(--mc);
}

.micButtonParent__37e49.micButtonParent__37e49.micButtonParent__37e49.micButtonParent__37e49
    button:hover {
    color: var(--mc);
}
.modeConnected__2ea32 .icon__2ea32,
.modeConnected__2ea32:hover .icon__2ea32,
.modeSelected__2ea32 .icon__2ea32,
.modeSelected__2ea32:hover .icon__2ea32 {
    color: var(--mc);
}

/*--- Stage ---*/
[class^="channelOptionIcon_"] path[d^="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"],
[class^="channelOptionIcon_"] path[d^="M21.92 14.08c.32.27.86.15.93-"],
[class^="channelOptionIcon_"] path[d^="M13.48 16.18c.39.1.45.62.2.93A2.99"],
[class^="stageIcon_"] path[d^="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"],
[class^="stageIcon_"] path[d^="M16.83 15.23c.43.47 1.18.42 1.45-.14a7"],
[class^="stageIcon_"] path[d^="M19.61 18.25a1.08 1.08 0 0 1-.07-1.33"],
[class^="subtitleIcon_"] path[d^="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"],
[class^="subtitleIcon_"] path[d^="M16.83 15.23c.43.47 1.18.42 1.45-.14a7"],
[class^="subtitleIcon_"] path[d^="M19.61 18.25a1.08 1.08 0 0 1-.07-1.33"],
[class^="inputPrefix_"] path[d^="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"],
[class^="inputPrefix_"] path[d^="M16.83 15.23c.43.47 1.18.42 1.45-.14a7"],
[class^="inputPrefix_"] path[d^="M19.61 18.25a1.08 1.08 0 0 1-.07-1.33"],
[class^="icon_"] path[d^="M21.92 14.08c.32.27.86.15.93-"],
[class^="icon_"] path[d^="M13.48 16.18c.39.1.45.62.2.93A2.99"],
[class^="icon_"] path[d^="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"],
[class^="icon_"] path[d^="M16.83 15.23c.43.47 1.18.42 1.45-.14a7"],
[class^="icon_"] path[d^="M19.61 18.25a1.08 1.08 0 0 1-.07-1.33"] {
    fill: rgba(102, 51, 153, 0.811) !important;
}

/*--- Channellines ---*/
.spineBorder__5b40b {
    display: none;
}

.containerDefault_c69b6d:not(.wrapper__2ea32) {
    position: relative;
    margin-left: 15.5px;
}

.containerDefault_c69b6d:not(.wrapper__2ea32)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background: var(--mc) !important;
}

/*------ Threads ------*/
[class^="threadIcon_"] path[d^="M12 2.81a1 1 0 0 1 0-1.41l.36-.36a1"],
[class^="iconWrapper_"] path[d^="M12 2.81a1 1 0 0 1 0-1.41l.36-.36a1"] {
    fill: var(--mc) !important;
}

.container__5b40b {
    .spineBorder__5b40b {
        background: var(--mc) !important;
    }

    .containerDefault_c69b6d {
        > .iconVisibility_c69b6d.wrapper__2ea32.typeThread__2ea32
            > .link__2ea32 {
            border: 1px solid var(--mc) !important;
        }

        > .iconVisibility_c69b6d.wrapper__2ea32.typeThread__2ea32.modeSelected__2ea32
            > .link__2ea32 {
            border: 1px solid var(--mc) !important;
        }

        > .spine__5b40b path[d^="M0 13H2c0 1.6569 1.3432 3 3 3v2c-2.7614"],
        > .spine__5b40b path[d^="M6 18V16H9v2H6Zm3 0V16s1"] {
            fill: var(--mc) !important;
        }

        &:hover {
            > .iconVisibility_c69b6d.wrapper__2ea32.typeThread__2ea32
                > .link__2ea32 {
                border: 1px solid var(--mc) !important;
            }
        }
    }
}

/* Switches Color */
div[class^="control_"] > div[class^="container_"][class*="checked_"] {
    background-color: var(--mc) !important;
}
div[class^="vc-addon-card"] > div div[class^="container_"][class*="checked_"] {
    background-color: var(--mc) !important;
}
[class*="checked_"] > svg > svg > path {
    fill: var(--black);
}

/* LED strip tooltips */
/* Hide tooltip pointer */
[class^="tooltipPointer__"],
[class^="caret__"] {
    display: none !important;
}
/* Apply the effect */
[class^="tooltip__"] {
    padding-right: 10px;
    padding-left: 10px;
    border: solid 4px dimgray;
    border-radius: 16px;
    inset: -3px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        inset: -3px;
        border: dotted 4px var(--mc);
        border-radius: 16px;
        filter: blur(2px);
        box-shadow:
            inset var(--mc) 0 0 10px,
            var(--mc) 0 0 15px;
    }
}

.pictureInPictureVideo_e4cb9a {
    position: absolute;
    inset: -3px;
    border: dotte 4px var(--mc);
    border-radius: 16px;
    box-shadow:
        inset var(--mc) 0 0 10px,
        var(--mc) 0 0 15px;
}
/* End LED strip tooltips */

/* Chat Stripes */
#app-mount .modeSelected__2ea32 .link__2ea32,
#app-mount .modeSelected__2ea32:hover .link__2ea32,
#app-mount .wrapper__2ea32:hover .link__2ea32 {
    background-color: var(--backgroundColor01);
}

#app-mount .link__2ea32 {
    position: relative;
    overflow: hidden;
}

#app-mount .link__2ea32::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--gradientColor01);
    background-image: linear-gradient(
        -45deg,
        var(--gradientColor01),
        var(--gradientColor02)
    ) !important;
    -webkit-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}

#app-mount .modeSelected__2ea32 .link__2ea32::after,
#app-mount .wrapper__2ea32:hover .link__2ea32::after {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

#app-mount .wrapper__260e1 {
    color: rgba(255, 255, 255, 0.5);
}

#app-mount .wrapper__260e1 .users__260e1 {
    background-color: var(--backgroundColor01);
}

#app-mount .wrapper__260e1 .total__260e1 {
    background-color: var(--backgroundColor01) !important;
}

#app-mount .wrapper__260e1 .total__260e1:after {
    border-right-color: var(--backgroundColor01) !important;
}

/* Search */
.searchBar__97492 {
    background: var(--backgroundColor01);
}
.searchBar__97492:hover,
.focused__97492 .searchBar__97492,
.open__97492 .searchBar__97492 {
    width: 400px;
}
.visual-refresh .chatContent_f75fb0 {
    background: transparent;
}
#app-mount .members_c8ffbb > div {
    background: #121214 !important;
}
#app-mount .members_c8ffbb {
    background: #121214 !important;
}
