/* Hide Member List Activities */
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}
/* Remove Bloat */
a[href="https://support.discord.com"],           /* Help Button */
.newChannel__599fa,                              /* "NEW" text thats next to channels */
.buttons__74017 > .button__201d5                 /* Send Gift Button */
{ 
  display: none;
}
/* Read All */
.vc-ranb-button {
margin: 0 16px;
width: calc(100% - 32px);
height: 40px !important;
min-height: 40px;
max-height: 40px !important;
padding: 2px;
background-color: var(--background-surface-higher);
border: none;
border-radius: 12px;

.contents__201d5 {
  font-size: 0px;
}

.contents__201d5::after {
  content: "asdfg";
  font-size: 18px;
  width: 16px;
  height: 16px;
  position: relative;
  color: transparent;
  top: -4px;
  left: 5px;
  background-image: url("data:image/svg+xml,%3Csvg%20x%3D%220%22%20y%3D%220%22%20class%3D%22icon__9293f%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23D8D8DB%22%20d%3D%22M9.7%202.89c.18-.07.32-.24.37-.43a2%202%200%200%201%203.86%200c.05.2.19.36.38.43A7%207%200%200%201%2019%209.5v2.09c0%20.12.05.24.13.33l1.1%201.22a3%203%200%200%201%20.77%202.01v.28c0%20.67-.34%201.29-.95%201.56-1.31.6-4%201.51-8.05%201.51-4.05%200-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3%203%200%200%201%20.77-2l1.1-1.23a.5.5%200%200%200%20.13-.33V9.5a7%207%200%200%201%204.7-6.61ZM9.18%2019.84A.16.16%200%200%200%209%2020a3%203%200%201%200%206%200c0-.1-.09-.17-.18-.16a24.86%2024.86%200%200%201-5.64%200Z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
}

&:hover {
  background-color: var(--mc) !important;
  .contents__201d5::after {
    background-image: url("data:image/svg+xml,%3Csvg%20x%3D%220%22%20y%3D%220%22%20class%3D%22icon__9293f%22%20aria-hidden%3D%22true%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M9.7%202.89c.18-.07.32-.24.37-.43a2%202%200%200%201%203.86%200c.05.2.19.36.38.43A7%207%200%200%201%2019%209.5v2.09c0%20.12.05.24.13.33l1.1%201.22a3%203%200%200%201%20.77%202.01v.28c0%20.67-.34%201.29-.95%201.56-1.31.6-4%201.51-8.05%201.51-4.05%200-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3%203%200%200%201%20.77-2l1.1-1.23a.5.5%200%200%200%20.13-.33V9.5a7%207%200%200%201%204.7-6.61ZM9.18%2019.84A.16.16%200%200%200%209%2020a3%203%200%201%200%206%200c0-.1-.09-.17-.18-.16a24.86%2024.86%200%200%201-5.64%200Z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  }
}
}
/* Remove App Button */
button[aria-label="Apps"]{
    display:none;
}

/* Pinned Page Switcher */
[class^=searchResultsWrap_] [class^=container_]:has([class^=pageControlContainer_]){
  position: sticky;
  bottom: 0px;
  z-index: 999;
  background: var(--bg-overlay-1, var(--background-secondary));
}
/* Popout Threads */
.visual-refresh .popout__76f04 {
    display: none;
}

/* Hide Avatar Decorations */
[class^=avatarDecoration_]{
  display: none;
}

/* Return Today @ */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}
span[class*="timestampInline_"] {
  font-size: 0px !important;
}
/* Hide Discover & Tooltip */
.tutorialContainer__650eb + .listItem__650eb {display: none;}
/* move slowmode/typing indicator to match */
   div[class^=typing] {
    top: -24px;
    right: calc(var(--custom-index-scrollbar-margin) * 2 + var(--custom-index-scrollbar-width));
    margin-left: auto;
    width: fit-content;
    padding-left: 2px;
    padding-right: 2%;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--channeltextarea-background);
  }
  /* Chat Related Alerts at Top */
.visual-refresh .chatContent_f75fb0 .messagesWrapper__36d07 {
  .jumpToPresentBar__0f481 {
    width: calc(100% - 16px) !important;
    min-width: unset !important;
    left: 0px !important;
    top: calc(8px * var(--craat-popout)) !important;
    bottom: unset !important;
    border-radius: calc(var(--craat-border-radius) * var(--craat-popout))
      calc(var(--craat-border-radius) * var(--craat-popout))
      var(--craat-border-radius) var(--craat-border-radius);
    z-index: 5 !important;
  }

  .newMessagesBar__0f481 {
    border: 1px solid var(--border-normal);
    background-color: var(--background-surface-highest) !important;
    padding-top: 4px !important;
    border-radius: calc(var(--craat-border-radius) * var(--craat-popout))
      calc(var(--craat-border-radius) * var(--craat-popout))
      var(--craat-border-radius) var(--craat-border-radius);
    top: calc(8px * var(--craat-popout)) !important;
    left: 8px !important;
    right: 8px !important;
    > button:not([aria-label*="message"]) {
      background-color: var(--button-filled-brand-background);
      height: 22px;
      padding: 0 16px;
      font-weight: 500 !important;
      font-size: small;
      transform: translateX(2px);
      text-align: center;
      border: 1px solid var(--button-filled-brand-border);
      color: var(--button-filled-brand-text);
      margin-right: 6px;
      &:hover {
        background-color: var(--button-filled-brand-background-hover);
        border: 1px solid var(--button-filled-brand-border);
      }
    }
    > button[aria-label*="message"] > span {
      color: white;
    }
    ~ .jumpToPresentBar__0f481 {
      top: calc(36px + (8px * var(--craat-popout))) !important;
      border-top-color: transparent !important;
      border-radius: 0 0 var(--craat-border-radius) var(--craat-border-radius);
    }
    &:has(~ .jumpToPresentBar__0f481) {
      border-radius: calc(var(--craat-border-radius) * var(--craat-popout))
        calc(var(--craat-border-radius) * var(--craat-popout)) 0 0;
      border-bottom-color: transparent !important;
    }
  }
}
/* "(edited)" text timestamps */
span[class*="timestamp_"] time::before {
    content: '✎ ' attr(aria-label);
    font-size: 0.625rem;
    font-weight: 400;
}

/* message header timestamps */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 0.75rem;
  font-weight: 500;
}

/* header-less multi-line hover timestamps */
span[class*="timestampVisibleOnHover_"] time::before {
  content: attr(aria-label);
  position: absolute;
  font-size: 0.6rem;
  line-height: 0.85rem;
  width: 65px;
  left: -1px;
  top: -2px;
}

/* hide the old timestamps */
span[class*="timestampInline_"], span[class*="timestampVisibleOnHover_"] {
  font-size: 0rem !important;
}
span[class*="edited_"] {
    position: relative;
    right: 95px;
    color: transparent;
}
/* channel */
.mentionsBadge__933a1 > .numberBadge__2b1f5 {
  background-color: #fc8686dc !important;
  color: white !important; /* So the number is readable */
}
/* server */
.lowerBadge_cc5dd2 > .numberBadge__2b1f5 {
  background-color: #fc8686dc !important;
  color: white !important; /* So the number is readable */
}
/* Hides Store and Shop button */
[href="/store"],
[href='/shop'] {
	display: none;
}
/* Better Timestamp Text */
time[id^="message-timestamp"] {
  color: var(--text-normal)
}
/* 2 Line Channel Description */
section[aria-label="Channel header"] div[class^=topic_] {
  white-space: normal;
  max-height: 2.4em;
  font-size: .9em;
  text-overflow: ellipsis;
  position: relative;
}
/* Boost progress bar */
#channels > ul > li > div[data-list-item-id^="channels___boosts"] { display: none; }

div[role="tablist"] {
  /* [Server settings][Sidebar]: Boost tab */
  div[class^="serverBoostTabItem"] {
    display: var(--display-server-settings-boost-tab);

    /* Disable SVG icon */
    svg { display: none; }

    /* Separator after tab */
    + div[class^="separator"] { display: none; }
  }
}


/* [Server settings][Boost]: Server boost ad at the bottom */
#guild_premium-tab > div[class^="divider"] {
  display: none;

  ~ div[class^="wrapper"] { display: none; }
  ~ div[class^="tier0Container"] { display: none; }
}


/* Remove Border */
.visual-refresh [class^="container_"] {
  border: 0px;
}
.visual-refresh [class^="chat_"][data-has-border=true] {
  border: 0px;
}
/* Transparent X Button Hover */
.winButton_c38106:hover {
  background-color: transparent !important;
} 
/* Unread Message Dot */
:where(.visual-refresh) .unread__2ea32 {
  display: none;
}
/* show usernames in friendlist */
[class*=discriminator_]
 { visibility: visible;
   &::before { content: "("; }
   &::after { content: ")"; }}

/* Voice Channel Count Centering */
.visual-refresh {
  .users__260e1,
  .total__260e1 {
      display: flex;
      justify-content: center;
      font-variant-numeric: normal;
  }

  .users__260e1 {
      padding: 0 7px 0 3px;
      margin-left: 1px;
  }

  .total__260e1 {
      padding: 1px 3px 0 0;
  }
  
  .wrapper__260e1 { border: none; }
}
/* Role Remove Icon */
.roleRemoveIcon_dfa8b6 {
    display: none !important;
}
.roleRemoveButtonCanRemove_dfa8b6  {
    pointer-events: none !important;
}

/* Scrollable CodeBlocks */
.codeContainer__75297 > code {
  max-height: var(--codeblock-height);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
    &::-webkit-scrollbar-track, &::-webkit-scrollbar-thumb {
     visibility: hidden; 
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--scrollbar-thin-thumb);
    border: 2px solid transparent;
    border-radius: 4px;
    min-height: 40px;
  }
  &:hover::-webkit-scrollbar-track, &:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-thin-track);
    border: 2px solid var(--scrollbar-thin-track);
    border-color: var(--scrollbar-thin-track);
  }
}

/* Remove Apps Button */
[aria-label="Edit Image with Apps"] {
  display: none;
}

/* Bigger Buttons */
.visual-refresh .button__74017,.buttonContents_e6e74f:not([class*="enabled__67645"]) {
    transform: scale(1.25) !important;
}
.visual-refresh .spriteContainer__04eed {
   transform: scale(1.1) !important;
}
.attachButtonPlus__0923f {
  transform: scale(1.25) !important;
}
.folderIconWrapper__48112 {
  transform: scale(1.50) !important;
}

/* Hide DM Wallpaper Button */
[aria-label="Set DM Wallpaper"] {
  display: none !important;
}

/* Toolbar fix Credits Moon*/
.trailing_c38106 {
  gap: 1px;
}
.trailing_c38106::before {
  border-left: 1px solid var(--border-subtle);
  content: "";
  display: block;
  height: calc(var(--custom-app-top-bar-height) - var(--space-12));
  margin-right: var(--space-4);
}
.toolbar__9293f {
  gap: var(--space-4) !important;
  margin-right: -16px;
}

/* Hide nameplates */
.dm__972a0>div>[style^="background: linear-gradient(90deg"],
.nameplated__91a9d>[style] {
  display: none;
}

/* reduce context menu padding */
.layer_da8173 > .menu_c1e9c4 {
  min-width: 0;
  width: 171px !important;
  .scroller_c1e9c4 {
      /* border margin */
      margin: -4px;
  }
  .separator_c1e9c4 {
      /* separator margin */
      margin: 1px 8px !important;
  }
  .wrapper_f563df {
      /* reactions margin */
      padding: 0px !important;
      margin: 1px;
  }
  .item_c1e9c4 {
      /* min-height is 32px as default, change value for desired look */
      min-height: 0;
      /* padding is 4px 8px as default, change value for desired look */
      padding: 4px 8px;
  }
  .icon_f563df {
      /* reactions size */
      width: 18px;
  }
  .button_f563df {
      /* reactions border size */
      width: 36px;
      height: 36px;
      border-radius: 4px;
  }
  .icon_c1e9c4 {
      /* icons size */
      width: 18px;
      height: 18px;
  }
  .iconContainer_c1e9c4 {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

/* Membercount Tweaks */
.vc-membercount-widget 
  { display: flex; } /* removes counters */
.vc-membercount-online,
.vc-membercount-total 
  { display: none; }
[class^="membersWrap_"]:hover .vc-membercount-online, 
.container_f79ab4:hover .vc-membercount-online,
[class^="membersWrap_"]:hover .vc-membercount-total,
.container_f79ab4:hover .vc-membercount-total 
  { display: initial; }