/**
     * @name Vertical-Spacious-Refresh
     * @version 3.0
     * @description A theme to make the new discord UI more Spacious & Colorful
     * @author madmaxgrey
     * @authorId 50429125
     * @updateUrl https://madmaxgrey.github.io/Vertical-Spacious-Refresh/vencord/Vertical-Spacious-Refresh.css
     * @source
**/

/* See anything that is yours message me on Discord @Preshyon */
/* Various Snips from Various Sources */
@import url('https://raw.githubusercontent.com/madmaxgrey/Vertical-Spacious-Refresh/refs/heads/main/vencord/Collapse.css');
@import url("https://raw.githubusercontent.com/madmaxgrey/Vertical-Spacious-Refresh/refs/heads/main/vencord/Colorfull.css");
@import url("https://raw.githubusercontent.com/madmaxgrey/Vertical-Spacious-Refresh/refs/heads/main/vencord/QualityofLife.css");
@import url("https://raw.githubusercontent.com/madmaxgrey/Vertical-Spacious-Refresh/refs/heads/main/vencord/Credits/Credits.css");
@import url("https://raw.githubusercontent.com/madmaxgrey/Vertical-Spacious-Refresh/refs/heads/main/vencord/Credits/Solar.css");
@import url("https://raw.githubusercontent.com/madmaxgrey/Vertical-Spacious-Refresh/refs/heads/main/vencord/Toggles/Toggles.css");

/* Various Snips from Various Sources */
/* See anything that is yours message me on Discord @Preshyon */



/* All Root Stuff */
:root {
  --codeblock-height: 250px;
  --hover-animation-speed: .60s;
  --start-angle: 0deg;  
  --craat-popout: 0;
  --craat-border-radius: 16px;
  --codeblock-height: 200px;
  --mc: #8d2036;
  --border-faint: var(--mc) !important;
  --codeblock-height: 200px;
  --guild-stack-margin: 13px;
  --guild-server-bar: 60%;
  --self-gradient-color-1: currentColor;
  --self-gradient-color-2: color-mix(in hsl, currentColor, black 20%);
  --self-gradient-color-3: color-mix(in hsl, currentColor, black 40%);
  --badges-background: var(--redesign-button-overlay-alpha-background);
}

/* Toggles */
:root {
  --\\--no-border: true;
  --\\--compact-input-box: true;
  --\\--compact-user-area: false;
  --\\--irc-compact-chats: true;
  --\\--compact-guilds-bar: false;
  --\\--compact-channel-categories: true;
}

/* Personal Edits */

/*Theme Info in Settings */
nav[class^="sidebar"] div[class^="info_"] > span:last-child::after {
    content: "Vertical Spacious Refresh";
    display: block;
}

/* Hide Quests on UserPanel */
section[class^="panels_"]>div[class^="mask_"] {
  display: none;
}

/* Hide Reply & Send Reaction Buttons Profile */
.avatarPopover__2d0ab {
display: none!important;
}

/* Popout Threads */
.visual-refresh .popout__76f04 {
    display: none;
}
    
/* Random Blue Dots X */
.dot_ae2d95 {
    display: none;
}

/* Hide Server Banners */
[aria-label="Create Invite"],
[aria-label="Invite to Server"],
[class*=animatedContainer_]:has(>[class*=bannerImage_]),
[style="height: 84px;"]
{display:none}


/* Fixed Animated Banner */
.animatedBannerHoverLayer_f37cb1 {
    display: none;
}

/* Drop Down Button */
.dropdownButton__2637a {
  display: none;
}
.voiceChannelsToggleIcon__29444 {
    display: none;
}

/* ABrecolor Edit */
.containerDefault_c69b6d:not(.wrapper__2ea32) {
    margin-left: 1px;
    border-left: 1px solid var(--rec-channel-lines);
  
  }
  
  .container__5b40b {
    .spineBorder__5b40b {
      background: var(--rec-threads-line) !important;
      visibility: hidden;
    }
  }

  .containerDefault_c69b6d:not(.wrapper__2ea32) 
  .iconVisibility_c69b6d.wrapper__2ea32 
  .link__2ea32 
  .icon__2ea32 {
  scale: 1.2;
}

.name__2ea32,
.overflow__82b15 {
  font-size: 15px;
}

/* VC Name Adjustment */
.list_c3cd7d {
  margin-left: -30px;
}

/* Title Bar Avatar */
.avatar_f75fb0 {
  display: none;
}

[aria-label="Resize Sidebar"].sidebarResizeHandle__5e434 {
  display: none;
}

div[class^=typing] {
  display: none;
}

.layer_da8173 .outer_c0bea0 .header__5be3e {
min-height: 225px;
}


[aria-label="Inbox"]{
display: none;
}

[aria-label="Play Activities here"]{
  display: none;
}

[aria-label="Start An Activity"]{
  display: none;
}

[class*="profileEffects__"] { display: none; }

/* Textarea chatbar */
:is(form, form > div) {
  & > div[class*="channelBottomBarArea"] {
    --custom-channel-textarea-text-area-height: 44px;
    div[class*="attachWrapper_"] {
      padding: 6px;
    }
    div[class*="attachButton_"] > div[class*="icon__"] {
      padding: 10px !important;
    }
  }

  & > [class*="wrapper__"] {
    padding: 10px !important;
    & > div {
      margin-left: 0;
      margin-right: 0;
    }
  }

  div[class*="textArea_"] + div[class*="buttons_"] {
    gap: 0;
  }
}

div[class*="jumpToPresentBar_"], div[class*="jumpToPresentBar_"]:active {
  margin-bottom: 1px;
  min-height: 0;
  button {
    min-height: 0;
    height: unset;
  }
}

.button_e6e74f {
  display: none;
}

/* Quests & Activity */
.container__7d20c, .nowPlayingColumn__133bf {
  display: none;
}

.link__972a0[href="/quest-home"] {
  display: none;
}

/* Personal Edits */


/* Shiggy Loading */
.content_a2f514 {
    display: flex;
    flex-direction: column;
    > .spinner_a2f514 { display: none }
    &:before {
        display: block;
        height: 128px;
        position: relative;
        content: url(https://cdn.discordapp.com/emojis/1373120209459740692.webp?size=96&animated=true);
        image-rendering: pixelated;
         align-content: center;
         scale: 3.125;
         margin-bottom: 96px;
    }
}
