/**
     * @name Vertical-Spacious-Refresh
     * @version 1.1.0
     * @description A theme to make the new discord UI more Spacious & Colorful
     * @author madmaxgrey
     * @authorId 50429125
     * @updateUrl https://madmaxgrey.github.io/Vertical-Spacious-Refresh/vencord/Vertical-Spacious-Refresh.css
     * @source
**/

/* See anything that is yours message me on Discord @Preshyon */
/* Various Snips from Various Sources */
@import url('https://raw.githubusercontent.com/madmaxgrey/Vertical-Spacious-Refresh/refs/heads/main/vencord/Collapse.css');
@import url("https://raw.githubusercontent.com/madmaxgrey/Vertical-Spacious-Refresh/refs/heads/main/vencord/Colorfull.css");
@import url("https://raw.githubusercontent.com/madmaxgrey/Vertical-Spacious-Refresh/refs/heads/main/vencord/QualityofLife.css");
/* Various Snips from Various Sources */
/* See anything that is yours message me on Discord @Preshyon */


/* Credits */
@import url("https://dablulite.github.io/css-snippets/QuickSwitchV2/import.css");
@import url("https://dablulite.github.io/css-snippets/TabsV2HomeIcon/import.css");
@import url("https://nspc911.github.io/themes/vencord/RefreshedSeamlessChatBar.theme.css");
@import URL('https://mudaranrhiod.github.io/VencordThemes/solar.css');
@import URL('https://mudaranrhiod.github.io/VencordThemes/solarmoreicons.css');
@import url("https://raw.githubusercontent.com/lithwack/Vencord-Repos/refs/heads/main/Collapsed%20Search%20Bar");
/* Credits */



/* All Root Stuff */
:root {
  --hover-animation-speed: .60s;
  --rosynight-main: #fc8686;
  --rosynight-main2: #f3aeae;
  --rosynight-message-color: #f3aeae;
  --rosynight-bg2: #212121;
  --start-angle: 0deg;  
  --craat-popout: 0;
  --craat-border-radius: 16px;
  --codeblock-height: 200px;
  --mc: #8d2036;
  }

/* Personal Edits */

/*Theme Info in Settings */
nav[class^="sidebar"] div[class^="info_"] > span:last-child::after {
    content: "Vertical Spacious Refresh";
    display: block;
}

/* Unread Message Dot */
:where(.visual-refresh) .unread__2ea32 {
    display: none;
}

/* Hide Quests on UserPanel */
section[class^="panels_"]>div[class^="mask_"] {
  display: none;
}

/* Hide Reply & Send Reaction Buttons Profile */
.avatarPopover__2d0ab {
display: none!important;
}

/* Popout Threads */
.visual-refresh .popout__76f04 {
    display: none;
}

/* Userpanel Squashed */
.visual-refresh .panel__5dec7 {
        display: none;
    }
    
/* Random Blue Dots X */
.dot_ae2d95 {
    display: none;
}

/* Hide Server Banners */
[aria-label="Create Invite"],
[aria-label="Invite to Server"],
[class*=animatedContainer_]:has(>[class*=bannerImage_]),
[style="height: 84px;"]
{display:none}

/* Username Bubble */
.username_c19a55,
.base_b88801 .text_b88801 strong,
.name__841c8,
.mention.interactive,
[class^="repliedMessage_"] > .username_c19a55,
.member__5d473 .username_d272d6 {
  filter: brightness(1.2);
  background: color-mix(in srgb, currentColor 20%, transparent);
  border: calc(1px * var(--enable-border)) solid;
  /*font-weight: bold;*/
  margin-right: 4px;
  padding: 0 6px;
  border-radius: 6px;
  display: inline-flex;

  &:hover {
    text-decoration: none;
    background: color-mix(in srgb, currentColor 40%, transparent);
  }
}

/* Channel Actions */
.actionIcon_c69b6d {
	display: none;
}

/* Fixed Animated Banner */
.animatedBannerHoverLayer_f37cb1 {
    display: none;
}

/* Personal Edits */

/* Credits adryd325 */
/* Sleeping */
[class^="channelTextArea"]::after {
    content: "";
    width: 32px;
    height: 32px;
    bottom: calc(100% - 3px); /* Mess with the - 3px to change its vertical position */
    left: 10px;              /* Switch this from right to left to put it on the left side, or increase/decrease to change its position */
    position: absolute;
    image-rendering: pixelated;
    pointer-events: none;
    background-image: url("https://raw.githubusercontent.com/adryd325/oneko.js/14bab15a755d0e35cd4ae19c931d96d306f99f42/oneko.gif");
    animation: oneko 1s infinite; /* change 1s to make the animation slower/faster */
}

@keyframes oneko {

    0%, 50% {
        background-position: -64px 0;
    }
    50.0001%, 100% {
        background-position: -64px -32px;
    }
}
/* Credits adryd325 */

/* Credits NSPC911 */
.content_a2f514 {
    display: flex;
    flex-direction: column;
    > .spinner_a2f514 { display: none }
    &:before {
        display: block;
        height: 128px;
        position: relative;
        content: url(https://raw.githubusercontent.com/Vencord/Vesktop/refs/heads/main/static/shiggy.gif);
        image-rendering: pixelated;
         align-content: center;
         scale: 3.125;
         margin-bottom: 96px;
    }
}
/* Credits NSPC911 */

/* Compact Title Bar */
.visual-refresh {
    --vr-header-snippet-top: 0px;
    --vr-header-snippet-server-padding: 16px;
    --vr-header-snippet-space: 187px;
    --vr-header-snippet-button-padding: 0;

    div.chat_f75fb0,
    div.subtitleContainer_f75fb0,
    main.container__133bf,
    div.chatLayerWrapper__01ae2 {
        & section.container__9293f {
            padding-right: var(--vr-header-snippet-space);
        }
    }

    div.page_c48ade {
        &:not(:has(> div.chat_f75fb0)) {
            anchor-name: --vr-header-snippet;
        }

        & > div.chat_f75fb0 {
            anchor-name: --vr-header-snippet;
        }
    }

    div.base_c48ade {
        grid-template-rows: [top] 0 [titleBarEnd] min-content [noticeEnd] 1fr [contentEnd] min-content [end];

        &:has(
                div.bar_c38106
                    > div.trailing_c38106
                    .updateIconForeground__49676
            ) {
            & div.chat_f75fb0,
            & div.subtitleContainer_f75fb0,
            & main.container__133bf,
            & div.chatLayerWrapper__01ae2 {
                & section.container__9293f {
                    padding-right: calc(var(--vr-header-snippet-space) + 50px);
                }
            }

            & div.videoControls_bfe55a .topControls_bfe55a div.toolbar__9293f {
                margin-right: calc(
                    var(--vr-header-snippet-space) + 30px
                ) !important;
            }
        }

        & > div.content_c48ade {
            z-index: 0;
        }

        & > div.bar_c38106 {
            position: absolute;
            position-anchor: --vr-header-snippet;
            top: var(--vr-header-snippet-top);
            right: anchor(right);
            width: anchor-size(width);
            padding: 0 var(--vr-header-snippet-button-padding) 0 0;

            & > .title_c38106 {
                display: none;
            }
        }

        &:has(> .notice__6e2b9) {
            & > div.bar_c38106 {
                top: anchor(top);
            }
        }

        & div.trailing_c38106 {
            background: none;
            border: none;
            height: var(--custom-channel-header-height);
        }

        &:has(.threadSidebarOpen_f75fb0.threadSidebarFloating_f75fb0)
            > .bar_c38106 {
            z-index: 0;
        }
    }

    :not(:has(div.page_c48ade > div.chat_f75fb0))
        div.base_c48ade
        > div.bar_c38106 {
        right: 0 !important;
    }

    ul[data-list-id="guildsnav"]
        > div.itemsContainer_ef3116
        > div.stack_dbd263 {
        margin-top: var(--vr-header-snippet-server-padding);
    }

    & div.videoControls_bfe55a .topControls_bfe55a,
    section.header__0b563 div.toolbar__9293f,
    div.topic__6ec1a {
        -webkit-app-region: no-drag;
    }
}